<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.torahli.myapplication">

    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 安装apk -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".hkbc.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hkbc.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".hkbc.topiccontent.TopicContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_topic_content"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".hkbc.topiccontent.portrait.TopicContentPortraitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_topic_content"
            android:theme="@style/FullscreenTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.torahli.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".hkbc.setting.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".hkbc.topiccontent.picdetails.PicDetailActivity"
            android:label="@string/title_activity_pic_details"/>
    </application>

</manifest>